<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Msg1:</strong>
  <%= @message.msg1 %>
</p>

<p>
  <strong>Msg2:</strong>
  <%= @message.msg2 %>
</p>

<p>
  <strong>Msg3:</strong>
  <%= @message.msg3 %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
