<!DOCTYPE html>
<html>
  <head>
    <title>TestingVue3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%#= stylesheet_pack_tag 'hello_vue', media: 'all' %>
    <%#= javascript_pack_tag 'hello_vue' %>
  </head>

  <body>
    <div data-behavior="vue">
    <%= link_to "new", new_message_path %> <br>
    <%= link_to "message indexs", messages_path %>
    <!-- <app :message="<%#= "testing hello".to_json %>" ></app> -->
      <%= yield %>
    </div>
  </body>

</html>
